@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cormorant+Unicase:wght@300;400;500;600;700&family=Dancing+Script:wght@400;500;600;700&family=Fredoka+One&family=Lora&family=Oswald&family=Source+Sans+Pro:wght@200;300;400;600;700&family=Unica+One&display=swap');

$Sans: 'Source Sans Pro', sans-serif;
$OpenSans: 'Open Sans Condensed', sans-serif;
$Lora: 'Lora', serif;
$Oswald: 'Oswald', sans-serif;
$Dancing: 'Dancing Script', sans-serif;
$Fredoka: 'Fredoka', cursive;
$Bebas: 'Bebas Neue' cursive;
$Coro: 'Cormorant Unicase', serif;
$Unica: 'Unica One', cursive;


$LightGrey: #b1b1b1;
$BlackCoffee: #32292f;
$MiddleBlueGreen: #99e1d9;
$MintCream: #f0f7f4;
$CadetBlue: #70abaf;
$Umber: #705d56;