.home {
  height: 100%;
  width: 100%;

  header {
    height: 5vh;
    background-color: #23524b85;
    box-shadow: inset 0px 0px 20px 0px #042b1f3f, 0px 9px 6px 6px #0000001a;
    padding-bottom: 5px;

    nav {
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: flex-end;
      align-items: center;

      .cal {
        font-size: 3rem;
        font-weight: 700;
        font-family: $Sans;
        margin: 1% 1% 0% 1%;
        color: $MintCream;
      }

      button {
        width: 115px;
        height: 4vh;
        font-family: $Sans;
        font-size: 1.75rem;
        font-weight: 600;
        background: #f3f0f1;
        position: relative;
        margin: 10px 6px 10px 0px;
        border-radius: 20px;
        text-align: center;
        cursor: pointer;
        transition: all 0.1s ease-in-out;
        box-shadow: 2px 3px 12px 0px #726f6f80, inset 8px 8px 16px #87878763;
        color: $LightGrey;
        outline: none;
        border: 1px solid $LightGrey;
        
        &:hover {
          opacity: 1;
          box-shadow: -2px -2px 6px rgba(18, 66, 62, 0.123),
            2px 2px 6px rgba(11, 109, 63, 0.123);
        }

        &:active {
          opacity: 1;
          box-shadow: inset -4px -4px 8px rgba(255, 255, 255, 0.5),
                      inset 8px 8px 16px rgba(0, 0, 0, 0.1);
          border: none;
        }
      }
    }
  }

  .info-form-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    padding: 2%;

    .wrapper {
      width: 100%;
      margin-top: 2%;
    }

    .info {
      font-size: 3rem;
      color: #b1b1b1a8;
      font-weight: 900;
      font-family: $Sans;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: 4%;

      p {
        margin-bottom: 3%;
      }
    }
  }
}